*.pyc
yourmom.db
.idea
.idea/*
*.term
*.sagews
*.ipynb

data/endNimSQL.db
data/galesnimSQL.db
data/twodimtopplingdominoesSQL.db
data/twodimtopplingdominoesSQL.db
data/galesnimSQL.db
data/endNimSQL.db
